node_modules/
**/.env
# .env.production
dist/
dist-ssr
*.local
.vscode/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.render/
*.log
# server/uploads/ (Removed to allow pushing existing images to Render)
client/dist/
/Users/prashantsingh/Downloads/SanyuktProject-main 2 copy 4/PROJECT_EXPLANATION.md